
/* header  */
.top-img img{
    width: 100%;
    height: 30rem;
}
.data{
    display: flex;
    background-image: linear-gradient(to right bottom,rgb(215,18,40), rgb(82,20,78));
}
.left-skew-image{
    margin-left: -110px;
   
}
.left-skew-image img{
    width: 43rem;
    height: 29rem;
    transform: skewx(20deg);
    border-radius: 0px 5px 10px 0px;
}
.skew-text{
    text-align: center;
    padding: 35px;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(175, 174, 174);
}
.skew-text h2{
    padding: 10px;
    font-size: 50px;
    font-weight: bolder;
}
.skew-text p{
    padding-top: 25px;
    font-size: 15px;
    text-align: center;
    line-height: 2;
    font-weight: bold;
}

.image-card {
    position:relative;
    /* margin-top:50px; */
    /* background-color: rgb(82,20,78); */
    background-image: linear-gradient(to right,rgb(82,20,78), rgb(215,18,40) ,rgb(82,20,78)  );
}
.image-card h3{
    font-size: 50px;
    text-align: center;
    color: rgb(175, 174, 174);
  
}
.image-card div img{
    width: 100%;
   
}
.play{
    position: absolute;
    left:46%;
    right: 0;
    top: 350px;
    width:80px;
}
.play img{
    width:100px;
}

/* center-image-container */

.center-image-container{
    display: flex;
    background-color: rgb(207,35,61);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 28rem;
}
.text{
    width: 20%;
}
.left-text h3{
    font-size: 42px;
    font-family: 'Baloo 2', cursive;
}
.left-text h4{
    font-size: 30px;
    text-align: start;
    font-family: 'Noto Sans JP', sans-serif;
}
.left-text p{
    font-size: 20px;
    text-align: start;
    font-family: 'Noto Sans JP', sans-serif;
}
.button button{
    width: 15rem;

}
.button a{
    text-decoration: none;
    color: rgb(175, 174, 174);
    font-family: 'Baloo 2', cursive;
}
.button button:hover{
    
    background-color: rgb(207,35,61);
}

.center-image {
    width: 40%;
}
.center-image img{
    padding-top: 30px;
    padding-bottom: 30px;
    height: 20rem;
    width: 30rem;
}
.right-text h3{
    font-size: 30px;
    text-align: end;
    font-family: 'Baloo 2', cursive;
    color: rgb(175, 174, 174);
}

/* black-background */
.black-background{
    background-color: black;
}
.black-background-top{
    padding-left: 10px;
    padding-right: 10px;

}
.container-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-top-text{
    width: 40%;
    color: white;
    padding-top: 50px;
}
.container-top-text h4{
    font-size: 30px;
}
.container-top-text h3{
    font-size: 40px;
}
.container-top-image{
    width: 40%;
    padding-left: 100px;
}
.container-top-image img{
    height: 25rem;
    width: auto;
}


.container-bottom{
    display: flex;
    text-align: center;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 5rem;
}
.gallery{
    border-top: 2px solid rgb(175, 174, 174);
    color: white;
    text-align: start;
    padding: 15px;
}
.gallery img{
    width: 22rem;
    height: 15rem;
    padding: 15px;
    border-radius: 40px;

}
.gallery h3, p{
    padding: 15px;
}
.gallery h3{
    font-size: 30px;
    font-family: 'Baloo 2', cursive;
}
.gallery p{
    font-size: 12px;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(175, 174, 174);
}

.full-width-image img{
    width: 100%;
}




/* footer  */
footer{
    border-top: 2px solid rgb(175, 174, 174);
}
.footer-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:black;
}
.footer{
    width: 25%;
    color: rgb(175, 174, 174);
    font-family: 'Baloo 2', cursive;
}
.footer-logo img{
    width: 20rem;
}
